.h1 {
  color: red;
  display: inline-block;
}

.header {
  width: 100vw;
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b9b8d7;
  width: 100vw;
  height: 100vh;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

.ind-todo {
  display: flex;
  flex-direction: row;
  font-size: larger;
  width: 400px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: gainsboro;
  border-radius: 5px;
}

.taskname {
  /* flex: 0.6; */
  display: flex;
  justify-content: center;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-actions {
  display: flex;
  /* flex: 0.4; */
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  min-width: 150px;
}

.todos-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.delete-icon {
  cursor: pointer;
}

.edit-icon {
  cursor: pointer;
}

.active {
  color: red;
  font-size: medium;
  background-color: gainsboro;
  border-radius: 100%;
  margin: auto;
  padding: 5px;
  cursor: pointer;
}

.unactive {
  margin: auto;
  cursor: pointer;
}

.todo {
  color: red;
}

.done {
  color: green;
}
.doing {
  color: black;
}
.username-display {
  position: absolute;
  top: 10px;
  right: 140px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

